PROMETEO_DASHBOARD_URL=https://prometeo.miguelprez.es/client
PROMETEO_KIOSK=0
PROMETEO_ENABLE_DEVTOOLS=1
PROMETEO_OPEN_DEVTOOLS=0
PROMETEO_VERBOSE_LOGS=1
PROMETEO_DISABLE_AUTOSTART_PROMPT=0
PROMETEO_DISABLE_UPDATE_CHECK=0
